:root {
  --hue-red: calc(0 / 181.5);
  --hue-orange: calc(5000 / 181.5);
  --hue-yellow: calc(9500 / 181.5);
  --hue-green: calc(25000 / 181.5);
  --hue-teal: calc(30000 / 181.5);
  --hue-blue: calc(40000 / 181.5);
  --hue-purple: calc(48000 / 181.5);
  --hue-pink: calc(50000 / 181.5);
}




.container{
  border-radius: 15px;
  margin: 20px 100px;
  padding: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 1px 4px 8px 1px grey;
}
#red{
  background-color: hsl(var(--hue-red), 100%, 50%);
}
#orange{
  background-color: hsl(var(--hue-orange), 100%, 50%);
}
#yellow{
  background-color: hsl(var(--hue-yellow), 100%, 50%);
}
#green{
  background-color: hsl(var(--hue-green), 100%, 50%);
}
#teal{
  background-color: hsl(var(--hue-teal), 100%, 50%);
}
#blue{
  background-color: hsl(var(--hue-blue), 100%, 50%);
}
#purple{
  background-color: hsl(var(--hue-purple), 100%, 50%);
}
#pink{
  background-color: hsl(var(--hue-pink), 100%, 50%);
}

.slider{
  width: 100%;
}

#buttonContainer button{
  padding:20px;
  margin: 5px 10px;
  border: solid white 1px;
  border-radius: 25px;
  
}
#buttonContainer button:hover{
  border: solid black 1px;
}

.slider, .commandButton{
  display: block;
  margin: 5px auto;
}

*{
  font-family:"Helvetica Neue";

}