/* define values for buttons (unfortunately had to hard-code due to nature of CSS) */
:root {
  --hue-red: calc(0 / 181.5);
  --hue-orange: calc(5000 / 181.5);
  --hue-yellow: calc(9500 / 181.5);
  --hue-green: calc(25000 / 181.5);
  --hue-teal: calc(30000 / 181.5);
  --hue-blue: calc(40000 / 181.5);
  --hue-purple: calc(48000 / 181.5);
  --hue-pink: calc(50000 / 181.5);
}

/* apply correct background color to buttons  */
#red{
  background-color: hsl(var(--hue-red), 100%, 50%);
}
#orange{
  background-color: hsl(var(--hue-orange), 100%, 50%);
}
#yellow{
  background-color: hsl(var(--hue-yellow), 100%, 50%);
}
#green{
  background-color: hsl(var(--hue-green), 100%, 50%);
}
#teal{
  background-color: hsl(var(--hue-teal), 100%, 50%);
}
#blue{
  background-color: hsl(var(--hue-blue), 100%, 50%);
}
#purple{
  background-color: hsl(var(--hue-purple), 100%, 50%);
}
#pink{
  background-color: hsl(var(--hue-pink), 100%, 50%);
}
/* google font library import */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 200,
  'opsz' 24
}


body{
  margin: 0 auto;
}

/* create the white bubble that content will be inside */
.container{
  border-radius: 15px;
  margin: 20px 100px;
  padding: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 1px 4px 8px 1px grey;
}

/* slider CSS */
.slider{
  width: 100%;
}

/* button CSS */
#buttonContainer button{
  padding:20px;
  margin: 5px 10px;
  border: solid white 1px;
  border-radius: 25px;
  
}

#buttonContainer button:hover{
  border: solid black 1px;
}

button, #onOff, .slider, .effect button {
  cursor: pointer;
}

.slider, .commandButton{
  display: block;
  margin: 5px auto;
}
#advancedSettings{
  display: flex;
}

#stop button{
  background-color: #EF5F5F;
}

/* effects CSS */
#effectContainer {
  display: flex;
  border: none;
  background-color: white;
  width: 100%;

 

}
.effect{
  margin: auto;
  width:50%;
  
}

.effect button{
  background-color: #EAEAEA;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: white solid 1px;

  
}
.effect button:hover{
  border: 1px black solid;
}

*{
  font-family:"Helvetica Neue";

}

